In [1]:
import pandas as pd
df = pd.read_csv('c:\sistemas\ciencia-datos\empleados.csv', delimiter=";")

In [2]:
print(df.head(20))

       Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  Salario  \
0   Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0   2423.0
1      Carlos       NaN  Masculino      Casado(a)  38.0         10.0   3132.0
2      Felipa       NaN   Femenino     Soltero(a)  26.0          5.0   2639.0
3      Daniel       NaN  Masculino      Casado(a)  35.0         10.0   3122.0
4        John       NaN  Masculino      Casado(a)  35.0         13.0   3431.0
5      Edward       NaN  Masculino     Soltero(a)   NaN          NaN   4500.0
6     Ruperta       NaN   Femenino      Casado(a)  54.0         18.0   3962.0
7       Amaya       NaN   Femenino  Divorciado(a)  22.0          3.0   2450.0
8   Francisca       NaN   Femenino     Soltero(a)  27.0          4.0   2564.0
9      Selena       NaN   Femenino      Casado(a)  24.0          6.0   2709.0
10       Febe       NaN   Femenino      Casado(a)  44.0         22.0   4359.0
11     Ximena       NaN   Femenino     Soltero(a)  58.0         24.0   4532.0
12      David       NaN  Masculino  Divorciado(a)  20.0          1.0   1977.0
13        Max       NaN  Masculino  Divorciado(a)  39.0          8.0   2953.0
14     Selena       NaN   Femenino      Casado(a)  24.0          6.0   2709.0
15        NaN       NaN   Femenino            NaN  44.0         22.0      NaN
16      Paula       NaN   Femenino  Divorciado(a)  55.0         12.0   3306.0
17        Tim       NaN  Masculino  Divorciado(a)  22.0          4.0   2518.0
18     Andrew       NaN  Masculino  Divorciado(a)   NaN         10.0   3194.0
19     Gloria       NaN   Femenino      Casado(a)  31.0         11.0   3267.0

   Gerencia          Departamento
0        No            Publicidad
1        Sí                   NaN
2        No             Comercial
3        No             Comercial
4        Sí  Servicios al cliente
5        No                 Legal
6        No              Producto
7       NaN             Comercial
8        No                    IT
9        Sí          Contabilidad
10       No                   NaN
11       No                 Legal
12       No      Recursos Humanos
13       No                Ventas
14       Sí          Contabilidad
15      NaN                   NaN
16       No              Producto
17       No      Recursos Humanos
18       No              Producto
19       No  Servicios al cliente

In [3]:
print(df.shape)

(251, 9)

# Using isnull() to select all rows with NaN under an entire DataFrame:

In [4]:
print(df[df.isnull().any(axis=1)])

        Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  \
0    Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0
1       Carlos       NaN  Masculino      Casado(a)  38.0         10.0
2       Felipa       NaN   Femenino     Soltero(a)  26.0          5.0
3       Daniel       NaN  Masculino      Casado(a)  35.0         10.0
4         John       NaN  Masculino      Casado(a)  35.0         13.0
..         ...       ...        ...            ...   ...          ...
246       Jose       NaN  Masculino      Casado(a)  30.0          6.0
247    Marcelo       NaN  Masculino  Divorciado(a)  44.0         15.0
248       Eric       NaN        NaN      Casado(a)  25.0          7.0
249       Marc       NaN        NaN      Casado(a)  24.0          2.0
250    Leandro       NaN  Masculino      Casado(a)  37.0         11.0

     Salario Gerencia          Departamento
0     2423.0       No            Publicidad
1     3132.0       Sí                   NaN
2     2639.0       No             Comercial
3     3122.0       No             Comercial
4     3431.0       Sí  Servicios al cliente
..       ...      ...                   ...
246   2760.0       No  Servicios al cliente
247   3616.0       No                    IT
248   2880.0       Sí      Recursos Humanos
249   2172.0       No              Producto
250   3245.0       No              Finanzas

[251 rows x 9 columns]

# Using isna() to select all rows with NaN under an entire DataFrame:

In [5]:
print(df[df.isna().any(axis=1)])

        Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  \
0    Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0
1       Carlos       NaN  Masculino      Casado(a)  38.0         10.0
2       Felipa       NaN   Femenino     Soltero(a)  26.0          5.0
3       Daniel       NaN  Masculino      Casado(a)  35.0         10.0
4         John       NaN  Masculino      Casado(a)  35.0         13.0
..         ...       ...        ...            ...   ...          ...
246       Jose       NaN  Masculino      Casado(a)  30.0          6.0
247    Marcelo       NaN  Masculino  Divorciado(a)  44.0         15.0
248       Eric       NaN        NaN      Casado(a)  25.0          7.0
249       Marc       NaN        NaN      Casado(a)  24.0          2.0
250    Leandro       NaN  Masculino      Casado(a)  37.0         11.0

     Salario Gerencia          Departamento
0     2423.0       No            Publicidad
1     3132.0       Sí                   NaN
2     2639.0       No             Comercial
3     3122.0       No             Comercial
4     3431.0       Sí  Servicios al cliente
..       ...      ...                   ...
246   2760.0       No  Servicios al cliente
247   3616.0       No                    IT
248   2880.0       Sí      Recursos Humanos
249   2172.0       No              Producto
250   3245.0       No              Finanzas

[251 rows x 9 columns]

In [16]:
print(df[df['Sexo'].isnull()])

        Nombre  Apellido Sexo   Estado_Civil  Edad  Experiencia  Salario  \
21      Isaura       NaN  NaN  Divorciado(a)  35.0          8.0   2973.0
23      Nathan       NaN  NaN     Soltero(a)  35.0          9.0   3040.0
28      Steven       NaN  NaN      Casado(a)  19.0          1.0   2051.0
32        Vera       NaN  NaN      Casado(a)   NaN          NaN      NaN
42    Maricela       NaN  NaN  Divorciado(a)  27.0          6.0   2751.0
50   Manuelita       NaN  NaN      Casado(a)  18.0          0.0   1672.0
52    Maricruz       NaN  NaN     Soltero(a)  21.0          2.0   2272.0
54      Carlos       NaN  NaN            NaN   NaN          NaN      NaN
61         Eva       NaN  NaN      Casado(a)  22.0          4.0   2565.0
66    Estrella       NaN  NaN            NaN   NaN          NaN      NaN
71      Joshua       NaN  NaN      Casado(a)  26.0          4.0   2520.0
72        Lola       NaN  NaN     Soltero(a)  32.0          3.0   2487.0
82      Jeremy       NaN  NaN      Casado(a)  22.0          4.0   2512.0
88         NaN       NaN  NaN            NaN   NaN         11.0   3293.0
92         Amy       NaN  NaN      Casado(a)  29.0          3.0   2426.0
93      Dorita       NaN  NaN     Soltero(a)  20.0          1.0   2038.0
95         Paz       NaN  NaN      Casado(a)  26.0          1.0   1925.0
99      Eliana       NaN  NaN      Casado(a)  23.0          5.0   2670.0
110    Eulalia       NaN  NaN      Casado(a)  38.0          8.0   2929.0
123      Elena       NaN  NaN      Casado(a)   NaN          5.0   2686.0
145    Isidora       NaN  NaN     Soltero(a)  19.0          1.0   2059.0
146     Eliana       NaN  NaN  Divorciado(a)  18.0          0.0   1727.0
150     Eliana       NaN  NaN      Casado(a)  36.0          9.0   3036.0
153   Brunilda       NaN  NaN      Casado(a)  22.0          2.0   2213.0
155      Lucia       NaN  NaN  Divorciado(a)  40.0         10.0   3187.0
161     Otilia       NaN  NaN      Casado(a)   NaN         30.0   5166.0
163   Elisabet       NaN  NaN  Divorciado(a)  40.0          6.0   2796.0
170      Sofia       NaN  NaN     Soltero(a)   NaN         26.0   4716.0
176        NaN       NaN  NaN  Divorciado(a)  56.0         11.0   3224.0
185    Samanta       NaN  NaN      Casado(a)  31.0         12.0   3393.0
194   Griselda       NaN  NaN      Casado(a)  19.0          1.0   1930.0
220     Piedad       NaN  NaN     Soltero(a)  32.0          3.0   2316.0
232    Michael       NaN  NaN     Soltero(a)  35.0         13.0   3420.0
241     Robert       NaN  NaN     Soltero(a)  33.0         11.0   3267.0
242      Kevin       NaN  NaN  Divorciado(a)   NaN         20.0   4166.0
248       Eric       NaN  NaN      Casado(a)  25.0          7.0   2880.0
249       Marc       NaN  NaN      Casado(a)  24.0          2.0   2172.0

    Gerencia          Departamento
21        Sí                 Legal
23        Sí  Servicios al cliente
28        No                 Legal
32       NaN                   NaN
42        No          Contabilidad
50        No                Ventas
52       NaN                Ventas
54       NaN             Comercial
61        No              Finanzas
66       NaN                   NaN
71        No             Comercial
72        No  Servicios al cliente
82        No                Ventas
88       NaN                   NaN
92        No                 Legal
93        No                   NaN
95        No                 Legal
99        No            Publicidad
110       No                 Legal
123       No              Producto
145       No                    IT
146       No                Ventas
150       No                Ventas
153       No         Reclutamiento
155       Sí             Comercial
161       No            Publicidad
163       No              Finanzas
170       No            Publicidad
176      NaN  Servicios al cliente
185       No              Finanzas
194       No                 Legal
220       No             Comercial
232       No                 Legal
241       No      Recursos Humanos
242       No              Finanzas
248       Sí      Recursos Humanos
249       No              Producto

In [17]:
print(df.isnull().sum())

Nombre            6
Apellido        251
Sexo             37
Estado_Civil      4
Edad             61
Experiencia       4
Salario           6
Gerencia         21
Departamento     12
dtype: int64

In [10]:
print(df[df['Apellido'].isna()])

        Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  \
0    Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0
1       Carlos       NaN  Masculino      Casado(a)  38.0         10.0
2       Felipa       NaN   Femenino     Soltero(a)  26.0          5.0
3       Daniel       NaN  Masculino      Casado(a)  35.0         10.0
4         John       NaN  Masculino      Casado(a)  35.0         13.0
..         ...       ...        ...            ...   ...          ...
246       Jose       NaN  Masculino      Casado(a)  30.0          6.0
247    Marcelo       NaN  Masculino  Divorciado(a)  44.0         15.0
248       Eric       NaN        NaN      Casado(a)  25.0          7.0
249       Marc       NaN        NaN      Casado(a)  24.0          2.0
250    Leandro       NaN  Masculino      Casado(a)  37.0         11.0

     Salario Gerencia          Departamento
0     2423.0       No            Publicidad
1     3132.0       Sí                   NaN
2     2639.0       No             Comercial
3     3122.0       No             Comercial
4     3431.0       Sí  Servicios al cliente
..       ...      ...                   ...
246   2760.0       No  Servicios al cliente
247   3616.0       No                    IT
248   2880.0       Sí      Recursos Humanos
249   2172.0       No              Producto
250   3245.0       No              Finanzas

[251 rows x 9 columns]