In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('c:\sistemas\ciencia-datos\\temperaturas.csv', delimiter=";")

In [14]:
print(df)

     Año  temperatura
0   1960         71.4
1   1961         71.9
2   1962         71.9
3   1963         72.3
4   1964         71.7
..   ...          ...
57  2017         74.6
58  2018         73.5
59  2019         72.7
60  2020         74.6
61  2021         73.5

[62 rows x 2 columns]

In [15]:
nueva_temperatura = pd.DataFrame.from_dict([{'Año': '2022', 'temperatura': '74.3'}])

In [16]:
df = pd.concat([df, nueva_temperatura], ignore_index=True)

In [17]:
print(df)

     Año temperatura
0   1960        71.4
1   1961        71.9
2   1962        71.9
3   1963        72.3
4   1964        71.7
..   ...         ...
58  2018        73.5
59  2019        72.7
60  2020        74.6
61  2021        73.5
62  2022        74.3

[63 rows x 2 columns]