In [2]:
import pandas as pd
df = pd.read_csv('c:\sistemas\ciencia-datos\empleados.csv', delimiter=";")

In [3]:
print(df.head(20))

       Nombre  Apellido       Sexo   Estado_Civil  Edad  Experiencia  Salario  \
0   Alexandro       NaN  Masculino     Soltero(a)  22.0          3.0   2423.0
1      Carlos       NaN  Masculino      Casado(a)  38.0         10.0   3132.0
2      Felipa       NaN   Femenino     Soltero(a)  26.0          5.0   2639.0
3      Daniel       NaN  Masculino      Casado(a)  35.0         10.0   3122.0
4        John       NaN  Masculino      Casado(a)  35.0         13.0   3431.0
5      Edward       NaN  Masculino     Soltero(a)   NaN          NaN   4500.0
6     Ruperta       NaN   Femenino      Casado(a)  54.0         18.0   3962.0
7       Amaya       NaN   Femenino  Divorciado(a)  22.0          3.0   2450.0
8   Francisca       NaN   Femenino     Soltero(a)  27.0          4.0   2564.0
9      Selena       NaN   Femenino      Casado(a)  24.0          6.0   2709.0
10       Febe       NaN   Femenino      Casado(a)  44.0         22.0   4359.0
11     Ximena       NaN   Femenino     Soltero(a)  58.0         24.0   4532.0
12      David       NaN  Masculino  Divorciado(a)  20.0          1.0   1977.0
13        Max       NaN  Masculino  Divorciado(a)  39.0          8.0   2953.0
14     Selena       NaN   Femenino      Casado(a)  24.0          6.0   2709.0
15        NaN       NaN   Femenino            NaN  44.0         22.0      NaN
16      Paula       NaN   Femenino  Divorciado(a)  55.0         12.0   3306.0
17        Tim       NaN  Masculino  Divorciado(a)  22.0          4.0   2518.0
18     Andrew       NaN  Masculino  Divorciado(a)   NaN         10.0   3194.0
19     Gloria       NaN   Femenino      Casado(a)  31.0         11.0   3267.0

   Gerencia          Departamento
0        No            Publicidad
1        Sí                   NaN
2        No             Comercial
3        No             Comercial
4        Sí  Servicios al cliente
5        No                 Legal
6        No              Producto
7       NaN             Comercial
8        No                    IT
9        Sí          Contabilidad
10       No                   NaN
11       No                 Legal
12       No      Recursos Humanos
13       No                Ventas
14       Sí          Contabilidad
15      NaN                   NaN
16       No              Producto
17       No      Recursos Humanos
18       No              Producto
19       No  Servicios al cliente

# Con shape indica que el dataset tiene 251 filas y 9 columnas

In [4]:
print(df.shape)

(251, 9)

# Imprime la sumatoria de elementos nulos de cada columna de dataset, en este caso la columna apellidos tiene todas sus filas con nulos

In [5]:
print(df.isnull().sum())

Nombre            6
Apellido        251
Sexo             37
Estado_Civil      4
Edad             61
Experiencia       4
Salario           6
Gerencia         21
Departamento     12
dtype: int64

# Elimina la columna Apellido en axis se utiliza 0 cuando se aplica index y 1 cuando aplica columnas

In [7]:
df_actualizado = df.drop(axis=1, columns=['Apellido'])

# Imprime las 20 primeras filas una vez elimanada la columna apellidos

In [9]:
print(df_actualizado.head(20))

       Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0   Alexandro  Masculino     Soltero(a)  22.0          3.0   2423.0       No
1      Carlos  Masculino      Casado(a)  38.0         10.0   3132.0       Sí
2      Felipa   Femenino     Soltero(a)  26.0          5.0   2639.0       No
3      Daniel  Masculino      Casado(a)  35.0         10.0   3122.0       No
4        John  Masculino      Casado(a)  35.0         13.0   3431.0       Sí
5      Edward  Masculino     Soltero(a)   NaN          NaN   4500.0       No
6     Ruperta   Femenino      Casado(a)  54.0         18.0   3962.0       No
7       Amaya   Femenino  Divorciado(a)  22.0          3.0   2450.0      NaN
8   Francisca   Femenino     Soltero(a)  27.0          4.0   2564.0       No
9      Selena   Femenino      Casado(a)  24.0          6.0   2709.0       Sí
10       Febe   Femenino      Casado(a)  44.0         22.0   4359.0       No
11     Ximena   Femenino     Soltero(a)  58.0         24.0   4532.0       No
12      David  Masculino  Divorciado(a)  20.0          1.0   1977.0       No
13        Max  Masculino  Divorciado(a)  39.0          8.0   2953.0       No
14     Selena   Femenino      Casado(a)  24.0          6.0   2709.0       Sí
15        NaN   Femenino            NaN  44.0         22.0      NaN      NaN
16      Paula   Femenino  Divorciado(a)  55.0         12.0   3306.0       No
17        Tim  Masculino  Divorciado(a)  22.0          4.0   2518.0       No
18     Andrew  Masculino  Divorciado(a)   NaN         10.0   3194.0       No
19     Gloria   Femenino      Casado(a)  31.0         11.0   3267.0       No

            Departamento
0             Publicidad
1                    NaN
2              Comercial
3              Comercial
4   Servicios al cliente
5                  Legal
6               Producto
7              Comercial
8                     IT
9           Contabilidad
10                   NaN
11                 Legal
12      Recursos Humanos
13                Ventas
14          Contabilidad
15                   NaN
16              Producto
17      Recursos Humanos
18              Producto
19  Servicios al cliente