In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('c:\sistemas\ciencia-datos\\emisiones.csv', delimiter=";")

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Marca              99 non-null     object
 1   Motor              99 non-null     float64
 2   Cilindros          99 non-null     int64
 3   Consumo Ciudad     99 non-null     float64
 4   Consumo Carretera  99 non-null     float64
 5   CO2                99 non-null     int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.8+ KB
None

In [4]:
columnas_numericas = df.select_dtypes(include=['float', 'int'])
print(columnas_numericas)

    Motor  Cilindros  Consumo Ciudad  Consumo Carretera  CO2
0     2.1          4            13.7                9.1  290
1     2.6          4            12.7                8.6  327
2     2.0          4            13.7                9.4  382
3     4.3          4            14.3                9.0  347
4     3.6          4            14.6               10.4  377
..    ...        ...             ...                ...  ...
94    3.7          4            16.7               10.3  248
95    3.1          4            10.0                9.6  235
96    3.6          4            11.5               10.2  239
97    3.9          4             9.3               11.2  230
98    2.1          4            12.2                7.2  278

[99 rows x 5 columns]